<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Qlytics" parallel="tests" thread-count="4"
	data-provider-thread-count="1">
	<test name="RegsitrationUiTest">
		<classes>
			<class name="qlytics.Regression.SignUpPageUiTest" />
		</classes>
	</test>
	<test name="LoginUiTest">
		<classes>
			<class name="qlytics.Regression.LoginUiTest" />
		</classes>
	</test>
	

	<test name="LoginFunctionalityTest">
		<classes>
			<class name="qlytics.Regression.LoginFunctionalityTest" />
		</classes>
	</test>
	<test name="SignUpFunctionalityTest">
		<classes>
			<class name="qlytics.Regression.SignUpFunctionalityTest" />
		</classes>
	</test>
	<test name="LoginValidationTest">
		<classes>
			<class name="qlytics.Regression.LoginValidationTest" />
		</classes>
	</test>
	<test name="SignUpFullValidationTest">
		<classes>
			<class name="qlytics.Regression.SignUpFullValidationTest" />
		</classes>
	</test>
	
	<test name="ForgotPasswordPageUiTest">
		<classes>
			<class name="qlytics.Regression.ForgotPasswordPageUiTest" />
		</classes>
	</test>
	<test name="ForgotPasswordFunctionalityTest">
		<classes>
			<class name="qlytics.Regression.ForgotPasswordFunctionalityTest" />
		</classes>
	</test>
	<test name="ResetPasswordUiTest">
		<classes>
			<class name="qlytics.Regression.ResetPasswordUiTest" />
		</classes>
	</test>
	<test name="SignUpAbsentValidationTest">
		<classes>
			<class name="qlytics.Regression.SignUpAbsentValidationTest" />
		</classes>
	</test>
	
	<test name="ContactInfoUiTest">
		<classes>
			<class name="qlytics.Regression.ContactInfoUiTest" />
		</classes>
	</test>
	<test name="Profile_EducationUiTest">
		<classes>
			<class name="qlytics.Regression.Profile_EducationUiTest" />
		</classes>
	</test>
	<test name="Profile_EmploymentHistoryUiTest">
		<classes>
			<class name="qlytics.Regression.Profile_EmploymentHistoryUiTest" />
		</classes>
	</test>
	<test name="Profile_PersonalDetailsUiTest">
		<classes>
			<class name="qlytics.Regression.Profile_PersonalDetailsUiTest" />
		</classes>
	</test>	
	<test name="PersonalDetailsProfileNameVerificationTest">
		<classes>
			<class name="qlytics.Regression.PersonalDetailsProfileNameVerificationTest" />
		</classes>
	</test>	
	<test name="PersonalDetailsVerificationTest">
		<classes>
			<class name="qlytics.Regression.PersonalDetailsVerificationTest" />
		</classes>
	</test>	
	<test name="ContactInfoEditTest">
		<classes>
			<class name="qlytics.Regression.ContactInfoEditTest" />
		</classes>
	</test>	
	<test name="ContactInfoPageVerification">
		<classes>
			<class name="qlytics.Regression.ContactInfoPageVerification" />
		</classes>
	</test>	
	
	<test name="PersonalDetailsEditTest">
		<classes>
			<class name="qlytics.Regression.PersonalDetailsEditTest" />
		</classes>
	</test>	
	<test name="EducationVerificationTest">
		<classes>
			<class name="qlytics.Regression.EducationVerificationTest" />
		</classes>
	</test>	
	<test name="PaymentMethodFunctionalityTest">
		<classes>
			<class name="qlytics.Regression.PaymentMethodFunctionalityTest" />
		</classes>
	</test>	
	<test name="PaymentMethodUiTest">
		<classes>
			<class name="qlytics.Regression.PaymentMethodUiTest" />
		</classes>
	</test>	
	<test name="InvitationUiTest">
		<classes>
			<class name="qlytics.Regression.InvitationUiTest" />
		</classes>
	</test>	
	<test name="InvitationVerificationWithSignUpTest">
		<classes>
			<class name="qlytics.Regression.InvitationVerificationWithSignUpTest" />
		</classes>
	</test>	
	<test name="InvitationSigupPageUiTest">
		<classes>
			<class name="qlytics.Regression.InvitationSigupPageUiTest" />
		</classes>
	</test>	
	<test name="InvitationMemberUserVerificationTest">
		<classes>
			<class name="qlytics.Regression.InvitationMemberUserVerificationTest" />
		</classes>
	</test>	
	<test name="InvitationManagerUserVerificationTest">
		<classes>
			<class name="qlytics.Regression.InvitationManagerUserVerificationTest" />
		</classes>
	</test>	
	<test name="InvitationDeveloperUserVerificationTest">
		<classes>
			<class name="qlytics.Regression.InvitationDeveloperUserVerificationTest" />
		</classes>
	</test>
	<test name="InvitationAdminUserVerificationTest">
		<classes>
			<class name="qlytics.Regression.InvitationAdminUserVerificationTest" />
		</classes>
	</test>	
	
</suite>
