<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Qlytics" parallel="tests" thread-count="4"
	data-provider-thread-count="1">
	<test name="RegsitrationUiTest">
		<classes>
			<class name="qlytics.Regression.SignUpPageUiTest" />
		</classes>
	</test>
	<test name="LoginUiTest">
		<classes>
			<class name="qlytics.Regression.LoginUiTest" />
		</classes>
	</test>
	
	<test name="LoginFunctionalityTest">
		<classes>
			<class name="qlytics.Regression.LoginFunctionalityTest" />
		</classes>
	</test>
	<test name="SignUpFunctionalityTest">
		<classes>
			<class name="qlytics.Regression.SignUpFunctionalityTest" />
		</classes>
	</test>
	<test name="LoginValidationTest">
		<classes>
			<class name="qlytics.Regression.LoginValidationTest" />
		</classes>
	</test>
	<test name="SignUpFullValidationTest">
		<classes>
			<class name="qlytics.Regression.SignUpFullValidationTest" />
		</classes>
	</test>
	
	<test name="ForgotPasswordPageUiTest">
		<classes>
			<class name="qlytics.Regression.ForgotPasswordPageUiTest" />
		</classes>
	</test>
	<test name="ForgotPasswordFunctionalityTest">
		<classes>
			<class name="qlytics.Regression.ForgotPasswordFunctionalityTest" />
		</classes>
	</test>
	<test name="ResetPasswordUiTest">
		<classes>
			<class name="qlytics.Regression.ResetPasswordUiTest" />
		</classes>
	</test>
	<test name="SignUpAbsentValidationTest">
		<classes>
			<class name="qlytics.Regression.SignUpAbsentValidationTest" />
		</classes>
	</test>
	
	<test name="ContactInfoUiTest">
		<classes>
			<class name="qlytics.Regression.ContactInfoUiTest" />
		</classes>
	</test>
	<test name="ProfileUiTest">
		<classes>
			<class name="qlytics.Regression.ProfileUiTest" />
		</classes>
	</test>
	
</suite>
